:javascript
  do_login = function() {
    $.get('/api/user/login', { email:$('#email').val() }, function(msg){
      if (msg.error) { alert(msg.error) }
      else {
        alert('Login ok!');
        location.href = '/';
      }
    });
  }

.row
  .col-md-3
  .col-md-6
    %h2 Login

    %hr

    %form.well{ onsubmit:"do_login(); return false;" }
      %label Email
      %input#email.form-control{ :type=>'text' }
      %hr
      %label Password
      %input#pass.form-control{ :type=>'password' }
      %br
      %button.btn.btn-primary Login

    %br

    %p.alert.alert-info Login demo. Use user email for email and pass
    %p.alert.alert-info Using ajax to /api/user/login
