!!!
%html
  %head
    %title Test
    %link{ rel:'stylesheet', href:'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' }
    %script{ src:'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' }
  %body

  %nav.navbar.navbar-default
    .container
      %ul.nav.navbar-nav
        = @H.main_menu(@PAGE.root_path)

      %ul.nav.navbar-nav.navbar-right
        = @H.user_menu()

  .container
    = @BODY


